@import 'core/reset';

body{
    margin-left: 50px;
    background: rgb(59,43,59);
    background: radial-gradient(circle, rgba(59,43,59,1) 0%, rgba(35,25,35,1) 100%);
    margin:auto; 
    
    
}

.header {
    width: 85%; 
    display: flex;
    margin: auto;
    align-items: center;
    flex-direction: column;
    &__h1{
        margin-top:50px;
        font-family: 'Cormorant', serif;
    }
    &__h2{
        font-family: 'Cormorant', serif;
        margin-top: 10px;
        font-size: 80px;
        padding-bottom: 30px;
    }
    &__h3{
        margin-top: 10px;
        font-size: 35px;
        justify-self: flex-start;
    }
    &__form{
        display: flex;
        flex-direction: row;
        width: 800px;
        &__input{
            height: 40px;
            border: 2px solid rgb(240, 151, 199);
            margin-bottom: 50px;
            width: 250px;
            padding-left: 10px;
            font-family: 'Domine', serif;
            font-size: 22px;
            background-color: rgb(52,38,52) ;
            color: #f097c7;
            margin-right: 10px;
            justify-content: center;
            &::placeholder {
                color: #f097c7;
                opacity: .5;
              }
        }
        &__btn{
            border: 3px rgb(240, 151, 199); 
            height: 40px;
            width: 40px;
            margin-right: 5px;
            background-color: rgb(52,38,52) ;
            border: 2px solid rgb(240, 151, 199);
            font-family: 'Domine', serif;
            font-size: 24px;
            color: #f097c7;
            cursor: pointer;
        }
    }
  
}

.search{
    display: flex;
    margin: auto;
    margin-top: 10px; 
    align-items: center;
    width: 1925px; 
    position: relative;
    &__arrow__left{
        cursor: pointer; 
        font-size: 60px;
        background-color: rgb(43,31,43);
        padding: 10px;
        color: #f097c7; 
        margin-right: 10px;            
    }
    &__arrow__right{
        cursor: pointer; 
        font-size: 60px;
        background-color: rgb(43,31,43);
        padding: 10px;
        color: #f097c7; 
        margin-left: 10px;            
    }
    &__container{
        width: 100%;
        overflow:hidden;
        scroll-behavior: smooth;
        &__carrousel{
            display:flex; 
        }
    }
}

.coctail{
    width: 85%; 
    display: flex;
    margin: auto;
    align-items: center;
    &__div{
        margin-top: 25px;
        margin: auto;
        border: solid 5px rgb(240, 151, 199); 
        background-color: rgb(35, 25, 35);
        justify-content: center;
        width: 300px;
        height: 400px;
        &__img{
            display: flex;
            margin: auto;
            justify-items: center;
            padding-top: 30px;
            width: 240px;
            object-fit: cover;
            height: 270px;

        }
        &__t{
            display: flex;
            flex-direction: row;
            width: 300px;
            max-width: 300px;
            justify-content: space-between;
            margin-top: 25px;
            font-size: 20px;
            color: rgb(240, 151, 199);
            &__name{
                display: flex;
                margin-left: 30px;
                align-content: center;
                justify-items: center;
                max-width: 250 px;
            }
            &__icon{
                margin-right: 40px;
                color: rgb(240, 151, 199);
                cursor: pointer;
                    
                }
            }
        }     
    }


/* Simplificar esto*/

.selected{
        border: solid 5px rgb(247, 192, 83);
        background-color: rgb(35, 25, 35);
        color: rgb(247, 192, 83);
        &__t{
            }
            &__icon{
                margin-right: 40px;
                color: rgb(247, 192, 83);
            }
        }     

.icon--selected{
    color: rgb(247, 192, 83);
}


.fav {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 10px; 
    align-items: center;
    width: 1925px; 
    position: relative;
    margin-bottom: 150px;
    
    &__div{
        margin-top: 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    &__h2{
        margin-left: 15px;
        font-size: 30px;
       }
    &__big__container{
        display: flex;
    margin: auto;
    margin-top: 30px; 
    align-items: center;
    width: 1925px; 
    position: relative;

    }
    &__arrow__left{
        cursor: pointer; 
        font-size: 60px;
        background-color: rgb(43,31,43);
        padding: 10px;
        color: #f097c7; 
        margin-right: 10px;            
    }
    &__arrow__right{
        cursor: pointer; 
        font-size: 60px;
        background-color: rgb(43,31,43);
        padding: 10px;
        color: #f097c7; 
        margin-left: 10px;            
    }
    &__container{
        width: 100%;
        overflow:hidden;
        scroll-behavior: smooth;
        &__carrousel{
            display:flex; 

        }
    }
    &__list{
      
        
    }      
    &__input{
        visibility: hidden;
        
    }
    &__input--show{ 
        visibility:visible; 
    }
}

.hidden {
    display: hidden;
}